@import url('https://fonts.googleapis.com/css?family=Anton|Great+Vibes|Hammersmith+One|Kanit|Monoton|Montserrat|Pacifico|Philosopher|Rajdhani|Raleway|Roboto+Mono|Teko|Titillium+Web|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700');
@import url('https://fonts.googleapis.com/css?family=var(--lato):100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
:root {
    --green: #07b34f;
    --headerfont: 'LemonMilk';
    --defaultssfont: 'Segoe UI Regular';
    --lato: Montserrat;
}

html body {
    margin: 0;
    padding: 0; 
    width: 100%;
}

/*Landing Section*/
/*Navigation */
.nav-pos-fix {
    width: 100%;
    position: fixed !important;
    z-index: 3;
    background-color: transparent !important;
    transition: 650ms;
    height: 60px;
}
.liscroll {
    color: black !important;
}
.navscroll {
    background: var(--green) !important;
    height: 80px;

}
.navbar-brand {
    font-family: var(--lato), sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.navbar-brand-text {
    margin: 0;
    font-size: 1.5rem;
}
.navbar-brand-text-scroll {
    display: none;
}
.navbar-brand-img {
    display: none;
}
.dropdown-menu {
    background: var(--green) !important;
    color: #fff !important;

}
.dropdown-item:hover {
    background-color: #055f35 !important;
}
.dropdown-item:active {
    background-color: #29032c !important;
}
.dropdown-item {
    color: #fff !important;
}
.nav-item {
    padding: 0 20px;
}
.nav-link {
    transition: 300ms;
}
.nav-link:hover {
    font-size: 1.03rem !important;
}
.back {
    background: url('ucsy_background_bld.jpg');
    width:100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    width: 100%; 
    display: table;  
}
.logoimg {
    margin-top: 0px;
}
.logoreal {
    width: 100%; 
    display: table; 
    text-align: center; 
  
}
.header1 {
    text-align: center;
    color: white;
    font-family: Bahnschrift, sans-serif;
    font-size: 270%;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 0px;
    margin-top: 11.2rem;
    margin-bottom: 1.5rem;
    transform: translate(-50,-50);
}
.motto {
    color: white;
    padding-top: 1.2rem;
    font-family: 'Pyidaungsu Regular';
    font-weight: 60;
    word-spacing:2px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.motto2 {
    color: white;
    padding-top: 0rem;
    font-family: var(--lato);
    font-weight: 300;
    display: none;
}



.fa-arrow-alt-circle-up {
    border: 8px solid black;
    background: black;
    border-radius: 100%;
    font-size: 3.7rem;
    color: white;
    position: absolute;
    right: 35px;
    cursor: pointer;
    display: none;
}
.fa-dis-show {
    display: inline;
}
#scrolldown {
  position: relative;
  width: 100%;
  height: 100%;
  
 
}
.sp {
    text-align: center;
}
#scrolldown:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  transition: 0.5s;
}
#scrolldown h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#scrolldown a {
  padding-top: 60px;
}
#scrolldown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 1.7s infinite;
  animation: sdb04 1.7s infinite;
  box-sizing: border-box;
  top: 60px;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.scrr {
    margin-top: 170px;
}

/*.burg {
   margin-right: auto;
   margin-left: auto;
   display: inline-block;
}
.bar1, .bar2, .bar3{
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 35px;
    margin-top: 5px;
    transition: 500ms;
   
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-4px, 6px);
  background-color:rgb(255, 255, 255);
}

.change .bar2 {opacity: 0;background-color:rgb(255, 255, 255);;;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
  background-color:rgb(255, 255, 255);;
}
}}
*/

/*Welcome Section*/

.introhead{
    background-color: var(--green) !important;
    width: 250px;
    height:60px;
    transform:skew(35deg); 
    margin: 200px 0px -25px -20px;
    z-index: 2;
    display: block;
    line-height: 60px;
}
.Wel {
   transform:skew(-35deg);
   color: #fff;
    font-family: var(--defaultssfont), sans-serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 500;
    margin:0; 
    line-height: 57px;
}
#page2 {
    margin-top: 30px;
}
.intro {
    width: 100%;
   padding-bottom: 50px;
    background-color:#052c41;
    display: table;
    display: inline-block;  
    border-top: 3px solid var(--green) ;
    
}
.introtext {
    color: white;
    font-family: var(--defaultssfont);
    margin: 35px 30px;
    word-spacing: 2px;
    
}
.welimg {
    border-radius: 50px;
    position: relative;
    width: 120%;
}
.t {
    margin-top:5%;
}
th {
    padding-left: 30px;
    text-align: justify;
    font-weight: 100;
}
.timg {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}
.welimg2 {
    width: 30%;
    border-radius: 50px;
}
.introtext2 {
    color: white;
    font-family: var(--defaultssfont);
    margin: 15px 20px 0px 0px;
    padding: 0;
    word-spacing: 2px;
    text-align: justify;
}
.learnmore1 {
    padding:8px 18px;
    background-color: transparent;
    text-decoration: none;
    color: #5afc9e;
    font-family: 'Segoe UI';
    font-size: 13px;  
    font-weight: 400;
    border: 2px solid #49fc93;
    
}   
.learnmore1:hover {
    background-color: #4afc94;
    color: #012031;
}
.al {
    text-align: right;
    margin: 0px 20px 0px 0px;
}
/*Mission Section*/
.our-mission {
    padding: 2px 25px;
    font-family: var(--lato);
    word-spacing: 2px;
    font-weight: 500;
    font-size: 1.2rem;
}
.mission {
    font-family:var(--headerfont), sans-serif;
    font-weight: 100;
    word-spacing: 3px;
    padding-top: 50px;

}
.div-mission {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}
.star {
    margin: 0;
    color: rgb(214, 180, 10);
}
/*Facility Section*/
#facility {
    padding: 35px 5px;
}
.fac-div-child {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 50px;
  padding-bottom:40px;
}
.fac-div {
    padding: 30px 40px;
}
.icon-mod {
    color: #11a560;
    font-size: 2.7rem;
}
.facility-text {
    font-family: var(--lato);
    font-size: 1.1rem;
    margin-top: 20px;
    font-weight: 500;
    padding: 5px 45px;
}
/*News Section*/

#news_section {
    padding-top: 4rem;
    font-family: var(--defaultssfont) !important;
  
}
.btn-news {
    background-color: #07b34f;
    border-radius: 0px;
    border: #07b34f;
}
.btn-news:hover {
    background-color: #038338;
    border: #025525;
}
.container-fluid {
        padding-left: 0px !important;
    }  
.newshead {
    text-align: center;
    font-family: var(--headerfont), sans-serif;
    font-size: 33px;
    margin: 0;
}
.margin-zero {
    margin:0px !important;
}
time, .time {
    color:rgb(223, 106, 11);
}
p.time {
    font-size: 1rem;
    font-weight: 400;
}  
.width-fix {
    height: 20vh !important;
    
    
}
.newsline {
    text-align: center;
}
.uline {
    margin: 10px auto 20px auto;
    width: 10%;
    border: 5px dotted black;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.row {
    padding-right: 0rem;
    padding-left: 0rem;
}
.news_card{
    margin-bottom: 25px;
}
.gradient-white-gray-bg {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(218, 217, 217) 100%);
}
.col-lg-4, .col-md-6, .col-sm-12 {
    padding-right: 0px !important;
}
/*Numbers section*/
#number {
    background: #052c41;
    color: white;
   
}
.student-num {
    padding-top: 25px;
    padding-bottom: 25px;
}
.num-text {
    margin:0 !important;
    font-family: Raleway;
    font-weight: 400;
}
.number {
    font-family: var(--lato);
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 700;
}
/*Head-of-academic section*/
#head-of-academic {
    padding-top: 0;
}
.hoa {
    background: #052c41;
    width:100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    background-size: cover;
    background-attachment: fixed;
    color: honeydew;
  
}
.head-teacher {
    padding-top: 3.5rem;
    font-family: var(--headerfont), sans-serif;
}
hr.uline2 {
    border-color: whitesmoke;
}
.container {
    text-align: center;
}
.head-dr {
    width: 14rem;
    border-radius: 100%;
    border: 5px solid rgb(226, 235, 232);
    
}
.align-center {
    text-align: center;
    padding-top: 1.2rem;
    padding-left: 0px !important;
}
.align-left {
    text-align: left;
    padding-top: 1rem;
    
}
.mydiv {
    width: 100%;
    height: 100vh;
}
.head-profile {
    padding-top: 1.2rem;
    font-family: var(--defaultssfont);
}
.mail-teacher {
    text-decoration: none;
    color: white;
}
.mail-teacher:hover {
    color: rgb(7, 194, 194);
}
.teacher-pro {
    list-style: none;
    padding: 19px 0px 0px 8px;
}

/*History Section*/
.history-content {
    padding-top: 50px;
    
}
.history-sep {
    border-left: 2px solid #ffffff;
    font-family: var(--lato);
}
#history {
    padding: 25px 26px 40px 15px;
    background: url('titpotepin2.jpg') no-repeat;
    color: #fff;
   
}
.history-header {
    padding-top: 40px;
    font-family: var(--headerfont);
    font-weight: 560;
    font-size: 2.3rem;
    text-align: center;
}
.pad-rec {
    padding-left: 0;
    margin-left: 0px; 
}

.align-right {
    text-align: right;
    font-family: Raleway;
}
/*Footer*/
#footer {
    background: #333;
}
.button {
    margin-bottom: 0;
    border: none;
    border-radius: 0 0 0 0;
    background-color: #16e66c; 
    font-size: 14px;
    padding: 8px 15px;
}
.button:focus {
    background: #11a850;
}
.get {
    color: #fff;
    padding:30px;
    font-size: 1.7rem;
    font-family: var(--lato);
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 0px;

}
.igt {
    border: 5px solid rgb(247, 243, 243) ;
    border-radius: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.input-group-field {
    font-size:14px;
    padding-left: 4px;
    width: 135px;
}
.input-group {
    width: 320px;
    text-align: center !important;
    margin: auto;
}
.contact-list {
    list-style: none;
    margin: 0;
    padding: 0 !important;
    font-family: var(--defaultssfont);
}
.contact-list li {
    padding: 0px 0px 7px 0px;
    color: rgb(255, 255, 255);
}
.contact-list li a{
    color: #fff !important;
}
.contact-list li a:hover {
    color: rgb(159, 241, 252) !important;
}
.social-icon {
    padding: 20px 20px 10px 20px;
    font-size: 1.7rem;
    color:#fff;
}
.fa-phone {
    transform: rotate(90deg);
}
.social-icon a {
    color: white;
}
.social-icon a .fa-facebook{
    background: rgb(4, 101, 192);
    border-radius: 100%;
}
.social-icon a .fa-twitter {
    color: rgb(15, 194, 248);
}
.social-icon a .fa-google-plus {
    color: #c40b04;
    background: #fff;
    border-radius: 100%;
    
}
.copyright {
    color: rgb(204, 198, 198);
    padding: 20px;
    font-size: 0.8rem;
    font-family: var(--lato);
}

/*Media Query*/

@media only screen and (max-width:1200px){
    .header1 {
        margin-top: 13%;
    }
}
@media only screen and (max-width:1100px){
    .header1 {
        margin-top: 14%;
    }
}
@media only screen and (max-width:980px){
    .header1 {
        margin-top: 19%;
    }
}    
@media only screen and (max-width:810px){
    .header1 {
        margin-top: 22%;
    }
    
    .logoimg {
        width: 24%;
    }
}
@media only screen and (max-width: 775px) {
    .header1 {
        font-size: 220%;
        margin-top: 24%;
        font-weight: 500;
        margin-bottom: 7%;
    }
    
}
@media only screen and (max-width:560px){
    .header1 {
        margin-top: 26%;
    }
    .logoimg {
        width: 33%;
    }
    .scrr {
        margin-top: 8.3rem
    }
}
@media screen and (max-width:501px){
    .header1 {
        font-size: 235%;
        margin-top: 34%;
        margin-bottom: 7%;
    }
    .logoimg {
        width: 35%;
    } 
}

@media screen and (min-width:990px){
    .pos-right {
    position: absolute;
    right: 30px;
    }
}
@media screen and (min-width:721px){
    .t{
        display: inherit;
    }
    .t2 {
        display:none;
    }  
} 
@media screen and (max-width:720px){
    .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .t{
        display:none;
    }
    .al {
    text-align: center;
    margin: 2rem 0 0 0;
    }
    .intro {
    height: 30rem;
    }

    .uline {
        width: 16%;
    }

}
@media screen and (max-width:620px) {
    .header1 {
        margin-top: 24%;
        padding: 0 25px;
    }
}
@media screen and (max-width:510px) {
    .header1 {
        margin-top: 10rem;
    }
    .logoimg {
        width: 32%;
    }
    .scrr {
        margin-top: 10rem;
    }
}
@media screen and (max-width:438px) {
    .al {
        margin: 1rem 0 ;
    }
    .intro {
        height: 540px;
    }
    .header1 {
        margin-top: 8.5rem;
        padding: 0 20px;
    }
    .logoimg {
        width: 30%;
    }
    .scrr {
        margin-top: 8rem;
    }
    .motto {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:361px) {
    .intro {
        height: 600px;
    }
    .header1 {
        margin-top: 8.5rem;
        padding: 0 20px;
        font-size: 2.2rem;
    }
   .logoimg {
       width: 37%;
   }
   .scrr {
       margin-top: 7.6rem;
   }
}
@media (max-width:768px){
    .float-r {
        background: var(--green) !important;
        width: 100%;
    }
    .navbar-brand {
        padding-left: 20px;
    }
    .align-left {
        padding-bottom: 3rem;
    }
    .head-dr {
        width: 12rem;
    }
    .get, .history-header, .newshead, .head-teacher, .mission {
        font-size: 160%;
    }
    .input-group-field {
     width: 120px;
 }
    
}
@media (min-width:768px) {
    .navbar-brand {
        padding-left: 40px;
    }
}
marquee {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #dd2505;
    color: white;
}
